@model IEnumerable<MiniLoLProject.DAL.MinLoLUltimate>

@{
    ViewBag.Title = "Index";
}

<h2>Ultimates</h2>

<p>
    @Html.ActionLink("Add an Ultimate", "Create", null, new {@class = "btn btn-success" })
</p>

         

@foreach (var item in Model)
{
    <div class="ult col-md-4">
        <div class="ult-icon">
            <a href="@Url.Action("Details", new { id = item.UltimateID })">
    <img src="~/Content/Ultimates/Icons/@Html.DisplayFor(modelItem => item.UltimateIcon)" />
</a>
        </div>
        <div class="ult-info">
            <div class="ult-general">
                <h4>
                    <a href="@Url.Action("Details",  new { id = item.UltimateID })">
                        @Html.DisplayFor(modelItem => item.UltimateName)
                    </a>
                </h4>
                    <span>@Html.DisplayFor(modelItem => item.UltimateCost)
</span>
                <div class="clearfix"></div>
</div>
            <div class="ult-desc">
                <p>@Html.DisplayFor(modelItem => item.shortDescription)</p>
            </div>
        </div>
       <div class="ult-controls">
    @Html.ActionLink("Edit", "Edit", new { id = item.UltimateID }, new { @class= "btn btn-default pull-left"}) 
    @Html.ActionLink("Details", "Details", new { id = item.UltimateID }, new { @class = "btn btn-default" })

           <div class="clearfix"></div>
       </div>
     

        

  <div class="clearfix"></div>
    </div>
}
<div class="clearfix"></div>


