@model MiniLoLProject.DAL.MinLoLRole

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>MinLoLRole</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RoleName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RoleName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RoleDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RoleDescription)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ChampRoleID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
