@model MiniLoLProject.DAL.MinLoLChampion

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm("Edit", "MinLoLChampions", FormMethod.Post, new { enctype = "multipart/form-data" } ))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ChampIcon, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <img src="~/Content/Champions/Icons/@Html.DisplayFor(model => model.ChampIcon)" value="@Html.DisplayFor(model => model.ChampIcon)" />
                <br />
                <br />
                <input type="file" name="files" id="file1" class="form-control" /><p>Must be a .png image</p>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ChampPic, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <img  src="~/Content/Champions/Pics/@Html.DisplayFor(model => model.ChampPic)" width="300" value="@Html.DisplayFor(model => model.ChampPic)"/>
                <br /><br />
                <input type="file" name="files" id="file2" class="form-control" /><p>Must be a .jpg image</p>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ChampBio, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ChampBio, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ChampBio, "", new { @class = "text-danger" })
            </div>
        </div>

        @Html.HiddenFor(model => model.ChampID)

        <div class="form-group">
            @Html.LabelFor(model => model.UltimateID, "UltimateID", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("UltimateID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.UltimateID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ChampRoleID, "ChampRoleID", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ChampRoleID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ChampRoleID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-success" />
             
                    @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-danger" })
             
            </div>
        </div>
    </div>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

}
